{%load static%}
{%load crispy_forms_tags%}
<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-lg-4 mb-2">
            <h2 style="text-align: center">Tasks </h2>
            <ul class="list-group">
                {% if tasks|length %}
                    {% for task in tasks %}
                        {% include "includes/task.html"%}
                    {%endfor%}
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-4 mb-2">
            <h2 style="text-align: center"> Todo  <img src="{% static "images/list-task.svg" %}"/></h2>
            <ul class="list-group">
                {% if todo_tasks|length %}
                    {% for task in todo_tasks %}
                        {% include "includes/task.html"%}
                    {%endfor%}
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-4">
            {% include "includes/calendar.html" %}
        </div>
    </div>
</div>